*{
    margin: 0;
    padding: 0;
}

/* Sale Offer */
.popup{
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
}  

pre{
    position: absolute;
    top: 30%;
    left: 30%;
}

/* Popup */
.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.slider-image-container {
    display: flex;
    transition: 1.5s;
}

.slider-image {
    width: 100vw;
}

.slider-left-button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider-left-button i {
    font-size: 10vw;
}

.slider-right-button {
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider-right-button i {
    font-size: 10vw;
}

.slider-content {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
}

.slider-content h1 {
    font-size: 5vw;
    font-weight: bold;
}

.slider-content button {
    border: solid black 1px;
    background-color: white;
    color: black;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

/* New Arrival */
.newarr {
    position: relative;
}

.overlay {
    border-radius: 3%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    opacity: 0.5;
}

/* Most Wanted */
.most-wanted{
    display: flex;
    margin-top: 2vw;
    overflow-x: scroll;
    gap: 20px;  
}

.most-wanted img{
    border-radius: 2%;
    width: 20vw;
}

.most-wanted-container{
   position: relative; 
}

.sale-overlay{
    position: absolute;
    top:3px;
    left: 3px;
    font-size: 2vw;
    background-color: red;
    color: white;
    padding-left: 0 10px;
    border-radius: 10%;
 }

.most-wanted::-webkit-scrollbar {
    width: 10px;  
}

.most-wanted::-webkit-scrollbar-thumb:hover {
    background: white; 
}

/* Track */
.most-wanted::-webkit-scrollbar-track {
    background: #f1f1f1; 
    }
    
    /* Handle */
.most-wanted::-webkit-scrollbar-thumb {
    background: white; 
    }

.heart-button{
    position: absolute;
    width: 15%;
    bottom: 12%;
    right: 5%;
    font-size: 3vw;
}

/* Scroll Animate */
/* .init-animate{   
    transition: 3s;
}

.reveal-animate{
    opacity: 1; 
} */

@media screen and (max-width:800px) {
    pre{   
        left: 4%;
    }
    
    .newarr button {
        position: absolute;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 10px;
        font-size: 13px;
        background-color: white;    
        color: #1D232C;
        border-radius: 10px;
        border: white solid 1px;
        top: 50%;
        left: 18%;
        z-index: 2;
    }
    
    .review{    
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .review h1{
        font-size: 15px;
        line-height: 17px;
    }

    .review p{
        font-size: 10px;
        line-height: 12px;
    }
}

@media screen and (min-width:600px) {
    .slider-image-container{
    border: solid black 1px;
    height: 80vh;
}
.slider-content button {
    border: solid black 1px;
    background-color: white;
    color: black;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.newarr button {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    font-size: 1.2vw;
    background-color: white;
    color: #1D232C;
    border-radius: 10px;
    border: white solid 1px;
    top: 50%;
    left: 18%;
    z-index: 2;
}

.review{    
    padding-top: 5%;
    padding-bottom: 5%;   
}
    
}